* {
    text-align: center;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(rgb(146, 133, 133), green, blue, alpha);
}

h1 {
    font-weight: 300;
}

p {
    line-height: 1.4;
    text-decoration: none;
    margin: auto;
    padding: auto;
}

footer {
    font-weight: 200;
}